.taste__choose__item input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.taste__choose__item {
    position: relative;
    width: calc(100% / 2 - 10px);
    margin: 0 5px 10px;
}

.taste__choose__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    margin: 0px;
}

.taste__choose__item img {
    width: 100%;
}

.start__screen__top__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #fff;
    max-width: 340px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding: 30px 17px 28px;
}

.start__screen__top {
    position: relative;
    text-align: center;
    border-radius: 0 0 50px 50px;
    overflow: hidden;
    min-height: 175px;
    display: flex;
    align-items: center;
}

.start__screen__top__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.start__screen__content__title {
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #34303D;
    margin-bottom: 20px;
}

.start__screen__content__title b {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #00D2D3;
}

.start__screen__content {
    padding: 30px 0 20px;
    flex: 1;
}

.start__screen__btns {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 30px;
}

.btn__default {
    appearance: none;
    background: 0 0;
    border: 1.6px solid;
    border-radius: 25px;
    height: 37px;
    font-size: 14px;
    transition: .15s;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.btn__blue {
    border: 1.6px solid;
    color: #00D2D3;
}

.btn__blue:hover {
    background: #00D2D3;
    color: #34303D;
    border-color: #00D2D3;
}

.start__screen__btns button {
    margin-bottom: 10px;
}

.start__screen__btns button:last-child {
    margin-bottom: 0;
}

.taste__choose__item__value:before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='8' fill='white'/%3E%3Ccircle cx='8' cy='8' r='6' fill='%2300D2D3'/%3E%3Cpath d='M5 8L7 10L11 6' stroke='%2334303D' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    bottom: -8px;
    left: -8px;
    opacity: 0;
    transition: 0.15s;
}

.taste__choose__item input:checked~.taste__choose__item__value:before {
    opacity: 1;
}

.start__screen__btns button[disabled] {
    pointer-events: none;
    opacity: 0.75;
}

.list__test a {
    background: linear-gradient(99.59deg, rgba(239, 239, 239, 0.6) -7.75%, rgba(255, 255, 255, 0.08) 92.89%), linear-gradient(180deg, #EE7532 0%, #C86026 100%);
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 130%;
    border-radius: 15px;
    margin: 7px 0;
    height: 46px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.list__test {
    display: flex;
    flex-direction: column;
}

.list__test a:hover {
    opacity: 0.75;
}

.list__test a:nth-child(5n + 2) {
    background: linear-gradient(99.59deg, rgba(239, 239, 239, 0.6) -7.75%, rgba(255, 255, 255, 0.08) 92.89%), linear-gradient(180deg, #00D1D2 0%, #03A6A7 100%);
}

.list__test a:nth-child(5n + 3) {
    background: linear-gradient(99.59deg, rgba(239, 239, 239, 0.6) -7.75%, rgba(255, 255, 255, 0.08) 92.89%), linear-gradient(180deg, #F73535 0%, #C8484F 100%);
}

.list__test a:nth-child(5n + 4) {
    background: linear-gradient(99.59deg, rgba(239, 239, 239, 0.6) -7.75%, rgba(255, 255, 255, 0.08) 92.89%), linear-gradient(180deg, #A84AC6 0%, #822E9C 100%);
}

.list__test a:nth-child(5n + 5) {
    background: linear-gradient(99.59deg, rgba(239, 239, 239, 0.6) -7.75%, rgba(255, 255, 255, 0.08) 92.89%), linear-gradient(180deg, #AABB17 0%, #7E8B0B 100%);
}

.start__screen .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top__achievement {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.top__achievement__image {
    font-size: 0;
    width: 77px;
    margin-bottom: 10px;
}

.top__achievement__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: #00D2D3;
    margin-bottom: 7px;
}

.top__achievement__percent {
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    color: #00D2D3;
    margin-bottom: 2px;
}

.top__achievement__text {
    color: #959595;
}

.btn__black {
    color: inherit;
    text-decoration: none;
}

.btn__blue__filled {
    background: #00d2d3;
    border-color: #00d2d3;
}

// .btn__blue__filled:hover {
//     background: #000;
//     color: #ffffff;
//     border-color: #000;
// }

// .btn__black:hover {
//     background: #00d2d3;
//     color: #34303d;
//     border-color: #00d2d3;
// }

.list__achievement {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.achievement__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 17px;
    position: relative;
}

.achievement__item__text {
    font-size: 10px;
}

.achievement__item__info {
    flex: 1;
}

.achievement__item__image {
    width: 42px;
    height: 42px;
    margin-right: 15px;
}

.achievement__item__image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.achievement__item:last-child {
    margin-bottom: 0;
}

.achievement__item__title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 1px;
    background: linear-gradient(6.14deg, #AC6137 7.15%, #FFC188 106.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.achievement__item:nth-child(6n + 2) .achievement__item__title {
    background: linear-gradient(180deg, #9D6B25 0%, #F3C788 100%), linear-gradient(6.14deg, #AC6137 7.15%, #FFC188 106.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.achievement__item:nth-child(6n + 3) .achievement__item__title {
    background: linear-gradient(89.94deg, #F1A875 28.52%, #EE853B 73.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.achievement__item:nth-child(6n + 4) .achievement__item__title {
    background: linear-gradient(6.14deg, #D55C5C 7.15%, #FFB0B0 106.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.achievement__item:nth-child(6n + 5) .achievement__item__title {
    background: linear-gradient(180deg, #73DFE6 0%, #03C1CC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.achievement__item:nth-child(6n + 6) .achievement__item__title {

    background: linear-gradient(92.56deg, #FF460C 22.78%, #EFB09C 102.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.achievement__item.no--active .achievement__item__image,
.achievement__item.no--active .achievement__item__info {
    opacity: 0.3;
}

.achievement__item.no--active:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.08383 5.98354L4.91617 5.98673V5.30907C4.91617 4.75003 5.08645 4.42234 5.26011 4.24117C5.4358 4.05787 5.68759 3.94721 6 3.94721C6.31241 3.94721 6.5642 4.05787 6.73989 4.24117C6.91355 4.42234 7.08383 4.75003 7.08383 5.30907V5.98354ZM10.5568 6.73441C10.4089 6.54213 10.2357 6.39329 10.0479 6.28056V5.43824C10.0479 4.05825 9.60225 2.93063 8.82177 2.14485C8.04833 1.36616 7.02127 1 6 1C4.97873 1 3.95167 1.36616 3.17823 2.14485C2.39775 2.93063 1.9521 4.05825 1.9521 5.43824V6.33955C1.78093 6.4472 1.62192 6.58353 1.48295 6.75287C1.13466 7.1773 1 7.7021 1 8.23065V12.7453C1 13.2984 1.11815 13.9072 1.55157 14.3751C1.99972 14.8589 2.60401 15 3.1497 15H8.8503C9.39599 15 10.0003 14.8589 10.4484 14.3751C10.8819 13.9072 11 13.2984 11 12.7453V8.23065C11 7.7281 10.9018 7.1829 10.5568 6.73441Z' fill='%2334303D' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
    left: 32px;
    top: calc(50% + 15px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    transform: translate(0, -50%);
}


.btn__blue_border {
    color: #00D2D3;
}

.btn__blue_border:hover {
    background: #00D2D3;
    color: #000;
    border-color: #00D2D3;
}

.message__popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 10px -5px #000;
    z-index: 5;
    transform: translate(0, -100%);
    transition: 0.25s ease-in-out;
}

.message__popup.active {
    transform: translate(0, 0);
}

.message__popup__close {
    position: absolute;
    top: 0px;
    right: 0;
    width: 32px;
    height: 32px;
    background: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='512' height='512' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg' id='_02_User' data-name='02 User'%3E%3Cpath d='m25 512a25 25 0 0 1 -17.68-42.68l462-462a25 25 0 0 1 35.36 35.36l-462 462a24.93 24.93 0 0 1 -17.68 7.32z' fill='%23000000' data-original='%23000000' class=''%3E%3C/path%3E%3Cpath d='m487 512a24.93 24.93 0 0 1 -17.68-7.32l-462-462a25 25 0 0 1 35.36-35.36l462 462a25 25 0 0 1 -17.68 42.68z' fill='%23000000' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 43%;
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
    appearance: none;
    border-radius: 0;
    opacity: 0.75;
}

.message__popup .container {
    position: relative;
}

.message__popup__text {
    font-size: 15px;
    line-height: 1.35;
    margin-bottom: 10px;
}

.message__popup__inner {
    padding: 15px 0;
}

.message__popup__btn {
    border-radius: 120px;
    border: 1.5px solid #000;
    padding: 5px 5px 8px;
    background: transparent;
    line-height: 1;
    width: 120px;
    color:inherit;
    font-size: 13px;
}

.message__popup__btn:hover {
    border-color: #00d2d3;
    background: #00d2d3;
    color: #fff;
}
.start__screen__top__text--add{    font-weight: 400;
    font-size: 14px;
    line-height: 1.45;
    display: block;
    margin-top: 2px;}
    .btn__recomendate__inner {
        max-width: 310px;
        display: block;
        padding: 10px;
        line-height: 1.35;
        font-size: 14px;
    }

    .btn__recomendate {
        height: auto;
        border-radius: 115px;
        margin-bottom: 10px;
        color:#000
    }


    .btn__recomendate:hover{color: #000;border-color:#000;
        background: transparent;}