.quize__x__item--status__award__status--2 {
    background: linear-gradient(180deg, #9D6B25 0%, #F3C788 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}