.quize__x__item__title__3 {
    font-size: 18px;
    min-height: 0;
    margin-bottom: 20px;
}

.quize__x__item__3__text__inner {
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #959595;
    flex: 1;
    max-width: 305px;
    margin: 0 auto 25px;
}

.quize__x__item__3__image__top {
    width: 100%;
    display: block;
    max-height: 64px;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.quize__x__item__3__inner_x {
    position: relative;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}

.quize__x__item__3__title__inner {
    position: absolute;
    left: 0;
    right: 0;
    top: calc((100% - 64px)/ 2 + 64px);
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-shadow: 0px 0px 19px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    transform: translate(0, -50%);
    max-width: 320px;
    margin: 0 auto;
}

.quize__x__item__3__image__bg {
    display: block;
}

.quize__x__item__3__inner {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.quize__x__item__3 {
    display: flex;
    flex-direction: column;
}

.start__screen__btns>* {
    margin-bottom: 10px;
}

.start__screen__btns>*:last-child {
    margin-bottom: 0;
}

.quize__x__item__3__row__info {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 290px;
    margin: 20px auto;
}

.quize__x__item__3__row__icon {
    margin-right: 20px;
    font-size: 0;
}

.quize__x__item__3__row__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #949494;
}

.quize__x__item__3__row__icon img {
    height: 40px;
    object-fit: contain;
}

.quize__x__item--status__info--3 {
    padding: 0;
}

.quize__x__item--status__award_3_image {
    margin-top: 15px;
}

.quize__x__item--status__award__status--4 {
    background: linear-gradient(6.14deg, #D55C5C 7.15%, #FFB0B0 106.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.quize__x__item--status__info--3 {
    padding: 0;
}

.quize__x__item--status__award_3_image {
    margin-top: 15px;
    font-size: 0;
}

.quize__x__item--status__award__status--4 {
    background: linear-gradient(6.14deg, #D55C5C 7.15%, #FFB0B0 106.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.quize__x__item__title--total--3 {
    margin-bottom: 0;
}

.quize__x__item--status__award_3_add__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    max-width: 300px;
    margin: 25px auto;
}