.quize__x__item__title--small {
    font-size: 18px;
    line-height: 1.25;
    min-height: 0;
    margin-bottom: 10px;
}

.quize__x__item__4__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
}

.quize__x__item__4__content {
    position: relative;
    height: 100%;
    display: flex;
}

.quize__x__item__4__help {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 15px;
    bottom: 25px;
}

.quize__x__item__4__help__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 0;
}

.quize__x__item__4__help__info {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.quize__x__item__4__help__text {
    color: #FFFFFF;
    text-shadow: 0px 0px 19px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.quize__x__item__4__help__icons {
    font-size: 0;
    margin-bottom: 15px;
}

.quize__x__item__4__tolal__image {
    border-radius: 15px;
    overflow: hidden;
    margin: 0;
    flex: 1;
    font-size: 0;
    height: 100%;
    width: 100%;
}
.imageAwardSize{max-height: 220px;;}

.quize__x__item--status__info--4 {
    padding: 0 0 20px;
    justify-content:space-between;
    min-height: 0px;
}

.quize__x__item--status__info--4 .quize__x__item--status__award {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.quize__x__item__4__total__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.quize__x__item__4__total__image img {
    width: 100%;
    display: block;
    max-height: 64px;
    object-fit: cover;
}

.quize__x__item__4__total {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-shadow: 0px 0px 19px rgba(0, 0, 0, 0.5);
}
.quize__x__item__4__tolal__image__wrap {
    position: relative;
    flex:1;
    width: 100%;
}

.quize__x__item__4__help__info_2 {
    position: absolute;
    top: calc((100% - 64px) / 2 + 64px);
    left: 15px;
    right: 15px;
    transform: translate(0,-50%);
}

.quize__x__item__4__total__text_2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    max-width: 290px;
    margin: 10px auto 0;
}

.quize__x__item--status__award__good {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #E3813B;
    max-width: 300px;
    margin-bottom: 10px;
}

.quize__x__item__4__tolal__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.quize__x__item--status__award__status--3{
background: linear-gradient(89.94deg, #F1A875 28.52%, #EE853B 73.18%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}