.quize__x__screen__wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.quize__x__screen__content--small {
    max-height: 430px;
    min-height: 200px;
    flex: 1;
}

.quize__x__screen__path {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0 25px;
}


.quize__x__screen__path__link {
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    border-radius: 15px;
    height: 120px;
    align-items: center;
    text-decoration: none;
    margin: 10px 0;
    flex: 1;
    min-height: 100px;
    background: linear-gradient(99.59deg, rgba(239, 239, 239, 0.6) -7.75%, rgba(255, 255, 255, 0.08) 92.89%), linear-gradient(180deg, #EE7532 0%, #C86026 100%);
}

.quize__x__screen__path__link--2 {
    background: linear-gradient(99.59deg, rgba(239, 239, 239, 0.6) -7.75%, rgba(255, 255, 255, 0.08) 92.89%), linear-gradient(180deg, #F73535 0%, #C8484F 100%);
}

.quize__x__screen__path__link:hover {
    opacity: 0.5;
}

.quize__x__screen__path__link__inner {
    max-width: 190px;
}

.quize__x__item__mood__list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 15px -7.5px;
}

.quize__5__mood__choose {
    border-radius: 20px;
    width: calc(50% - 15px);
    margin: 0 7.5px 15px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    font-size: 50px;
    font-size: max(5vh,40px);
}

.quize__5__mood__choose button {
    width: 100%;
    border: none;
    background: transparent;
    appearance: none;
    border-radius: 0;
    padding:10px;
    background: #ccc;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quize__x__item--5__wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.quize__5__mood__choose:nth-child(1) button {
    background: linear-gradient(106.09deg, #B65A4B 5.65%, #883827 99.89%);
}

.quize__5__mood__choose:nth-child(2) button {
    background: linear-gradient(106.09deg, #7296B3 5.65%, #597A96 99.89%);
}

.quize__5__mood__choose:nth-child(3) button {
    background: linear-gradient(106.09deg, #EDB452 5.65%, #C98C38 99.89%);
}

.quize__5__mood__choose:nth-child(4) button {
    background: linear-gradient(106.09deg, #AA1736 5.65%, #881028 99.89%);
}

.quize__5__mood__choose:nth-child(5) button {
    background: linear-gradient(106.09deg, #FF9E51 5.65%, #DD5000 99.89%);
}

.quize__5__mood__choose:nth-child(6) button {
    background: linear-gradient(106.09deg, #FFDE9D 5.65%, #CCA35C 99.89%);
}

.quize__5__mood__choose:nth-child(7) button {
    background: linear-gradient(106.09deg, #F4A382 5.65%, #D37A56 99.89%);
}

.quize__5__mood__choose:nth-child(8) button {
    background: linear-gradient(106.09deg, #CEDA59 5.65%, #ADBD20 99.89%);
}

.quize__5__mood__choose:nth-child(9) button {
    background: linear-gradient(106.09deg, #AF44B0 5.65%, #721285 99.89%);
    color: #fff
}

.quize__5__mood__choose:nth-child(10) button {
    background: linear-gradient(106.09deg, #E9932D 5.65%, #E15721 99.89%);
}

.quize__x__item__color__image img {
    width: 100%;
}

.quize__x__item__color__image {
    font-size: 0;
    border-radius: 15px;
    overflow: hidden;
}

.quize__x__item__color__list {
    margin: 20px -3.5px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: flex-start;
}

.quize__5__color__choose__name {
    font-size: 0;
    padding-top: 100%;
    width: 100%;
    position: relative;
}

.quize__5__color__choose {
    width: calc(100% / 5 - 7px);
    border-radius: 10px;
    margin: 0 3.5px 7px;
    transition: 0.25s;
    cursor: pointer;
}


.quize__5__color__choose:hover {
    opacity: 0.75;
}

.quize__x__item__color_question__image__top {
    width: 100%;
    display: block;
    max-height: 64px;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.quize__x__item__color_question__wrap {
    position: relative;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex: 1;
    width: 100%;
    min-height: 500px;
}


.quize__x__item__color_question__inner {
    flex: 1;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    position: relative;
    font-size: 0;
}

.quize__x__item__color_question__pack__text {
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    max-width: 270px;
    margin: 0 auto;
    margin-bottom: 22px;
}

.quize__x__item__color_question__info {
    position: absolute;
    top: calc((100% - 64px)/ 2 + 64px);
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    transform: translate(0, -50%);
}

.quize__x__item__color_question__text {
    font-size: 18px;
    line-height: 120%;
    text-shadow: 0px 0px 10px #979797;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.quize__x__item__color_question__image {
    display: block;
    margin: 0 auto;
    width: 40px;
    margin-bottom: 15px;
    height: 40px;
    object-fit: contain;
}

.quize__x__item__color_question__title {
    font-size: 12px;
    line-height: 1.25;
}

.quize__x__item__color_question__pack__link {
    margin: 30px 0;
}

.start__screen__btns__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}

.start__screen__btns__row>a,
.start__screen__btns__row>button {
    flex: 1;
    margin: 0 10px;
}

.quize__x__item__color_question__image__bg {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.quize__x__item__mood__top {
    text-align: center;
    padding: 20px 10px;
    background: linear-gradient(106.31deg, #B65A4B 5.63%, #883827 99.57%);
    color: #fff;
    margin: -20px -20px 0;
}

.quize__x__item__mood__top--1{background: linear-gradient(106.09deg, #7296B3 5.65%, #597A96 99.89%);}
.quize__x__item__mood__top--2{background: linear-gradient(106.09deg, #EDB452 5.65%, #C98C38 99.89%);}
.quize__x__item__mood__top--3{background: linear-gradient(106.09deg, #AA1736 5.65%, #881028 99.89%);}
.quize__x__item__mood__top--4{background: linear-gradient(106.09deg, #FF9E51 5.65%, #DD5000 99.89%);}
.quize__x__item__mood__top--5{background: linear-gradient(106.09deg, #FFDE9D 5.65%, #CCA35C 99.89%);}
.quize__x__item__mood__top--6{background: linear-gradient(106.09deg, #F4A382 5.65%, #D37A56 99.89%);}
.quize__x__item__mood__top--7{background: linear-gradient(106.09deg, #CEDA59 5.65%, #ADBD20 99.89%);}
.quize__x__item__mood__top--8{background: linear-gradient(106.09deg, #AF44B0 5.65%, #721285 99.89%);}
.quize__x__item__mood__top--9{background: linear-gradient(106.09deg, #E9932D 5.65%, #E15721 99.89%);}

.quize__x__item__mood__smile {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 1;
}

.quize__x__item__mood__top_small_title {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 2px;
    line-height: 1;
    font-weight: 300;
}

.quize__x__item__mood__top_small_text {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
}

.quize__x__item__color_question__wrap--mood {
    margin: 20px 0;
    min-height: 430px;
}

.quize__x__item__color_question__wrap--mood .quize__x__item__color_question__text {
    font-size: 14px;
    font-weight: 300;
}

.quize__x__item__color_question__image__wrap {
    display: flex;
    align-items: center;
    text-align: left;
}

.quize__x__item__color_question__image__wrap .quize__x__item__color_question__image {
    margin: 0;
    margin-right: 15px;
}

.quize__x__item__title--subtotal {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #34303D;
    min-height: 0;
    margin: 20px 0 6px;
}

.quize__x__item--status__award__status--5 {
    background: linear-gradient(180deg, #73DFE6 0%, #03C1CC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}